<h1>Diagnostics</h1>

      <table>
        <thead>
          <tr>
            <th><div id="time">Session key:value</div></th>
          </tr>
        </thead>
        <tbody>
          <% session.to_hash.each do |k,v| %>
            <tr>
              <td><div id="time"><%= k %> :  <%= v %></div></td>
            </tr>
          <% end %>
        </tbody>
      </table>

